* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

.container {
  background: url(/images/restaurant\ 1.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}
.container .welcome-address {
  text-align: center;
  position: relative;
  top: 12rem;
  margin: auto 2rem;
}
.container .welcome-address h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
  color: #FFFFFF;
  font-family: Poppins, sans-serif;
}
.container .welcome-address h1 span {
  display: block;
}
.container .welcome-address p {
  color: #FFFEFE;
  font-size: 18px;
  margin-bottom: 2rem;
  font-family: Alata, sans-serif;
  font-weight: lighter;
}
.container .welcome-address .carousel {
  display: flex;
  justify-content: space-between;
}
.container .welcome-address .menu-links a {
  border: 1px solid #FFFFFF;
  background: #FFFFFF;
  color: #000;
  font-size: 18px;
  padding: 0.8rem 3rem;
}
.container .welcome-address .menu-links a:hover {
  border-color: #000;
  background: #000;
  color: #FFFFFF;
  transition: 0.3s;
  outline: none;
}
.container .welcome-address .menu-links .menuBtn {
  margin-right: 1rem;
}

.menu-container .menu-nav ul .active-0 {
  background: #F1D5BB;
  box-shadow: 0px 10px 10px -5px #B1B2B2;
}
.menu-container .menu-nav ul .active-0 img {
  filter: invert(100%);
}
.menu-container .cart-nav ul .active-1 {
  background: #F1D5BB;
  box-shadow: 0px 10px 10px -5px #B1B2B2;
}
.menu-container .cart-nav ul .active-1 img {
  filter: invert(100%);
}
.menu-container .menu-nav, .menu-container .cart-nav {
  background: #0C0B0B;
  border: 1px solid #0C0B0B;
  border-radius: 0.7rem;
  margin: 0.5rem;
  box-shadow: 1px 5px 10px #B1B2B2;
}
.menu-container .menu-nav ul, .menu-container .cart-nav ul {
  display: flex;
  justify-content: space-between;
}
.menu-container .menu-nav ul li, .menu-container .cart-nav ul li {
  padding: 1rem;
}
.menu-container .menu-nav ul li a p, .menu-container .cart-nav ul li a p {
  color: #F1D5BB;
  font-size: 3em;
  font-weight: 700;
  font-family: Poppins, sans-serif;
}
.menu-container .menu-nav ul li a img, .menu-container .cart-nav ul li a img {
  position: relative;
  top: 13px;
}
.menu-container .menu-nav ul li a img:hover, .menu-container .cart-nav ul li a img:hover {
  filter: brightness(50%);
}

.delicacy {
  margin: 2rem 1rem;
}
.delicacy .more-dishes {
  text-align: center;
  margin-top: 1rem;
}
.delicacy .more-dishes .load {
  border: 1px solid #000;
  outline: none;
  padding: 0.5rem 1rem;
  font-size: 18px;
  color: #9E9E9E;
  background: #000;
  font-family: Alata, sans-serif;
}
.delicacy .more-dishes .load:hover {
  color: #000;
  background: #9e9e9e;
  border-color: #9E9E9E;
  transition: 0.3s;
}
.delicacy h3 {
  font-family: Poppins, sans-serif;
  font-size: 2rem;
  font-weight: 400;
  position: relative;
  margin-bottom: 2rem;
}
.delicacy h3:after {
  content: "";
  position: absolute;
  top: 2.5rem;
  left: 0;
  height: 4px;
  width: 11rem;
  border-radius: 0.8rem;
  background: #F1D5BB;
}
.delicacy .delicacy-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.delicacy .delicacy-grid a {
  color: #000;
}
.delicacy .delicacy-grid figure {
  margin-bottom: 0.5rem;
}
.delicacy .delicacy-grid figure img {
  width: 100%;
  height: 165px;
  -o-object-fit: contain;
     object-fit: contain;
}
.delicacy .delicacy-grid figure img:hover {
  filter: brightness(50%);
  transition: 0.3s;
}
.delicacy .delicacy-grid figure figcaption {
  text-align: center;
  font-size: 18px;
  font-family: Alata, sans-serif;
}
.delicacy .delicacy-grid figure figcaption:hover {
  color: #A08E7D;
  transition: 0.3s;
}

.copyright {
  margin: 4rem 1rem;
}
.copyright p {
  font-size: 18px;
  font-family: Poppins, sans-serif;
}

.cart {
  margin: 2rem 1rem;
}
.cart .heading {
  font-family: Poppins, sans-serif;
  font-size: 2rem;
  position: relative;
  margin-bottom: 2rem;
}
.cart .heading:after {
  content: "";
  position: absolute;
  top: 2.5rem;
  left: 0;
  height: 4px;
  width: 5rem;
  border-radius: 0.8rem;
  background: #F1D5BB;
}
.cart .cart-list {
  padding: 2rem 0;
  background: #F1D5BB;
  border-radius: 0.2rem;
}
.cart .cart-list ul li {
  padding: 1rem;
  display: flex;
  justify-content: space-around;
}
.cart .cart-list ul li img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.cart .cart-list ul li p {
  font-size: 18px;
  font-family: Poppins, sans-serif;
  text-align: left;
}
.cart .cart-list ul li p span {
  display: block;
}
.cart .cart-list ul li .choose {
  position: relative;
  top: 0.8rem;
}
.cart .cart-list ul li .choose input {
  width: 2rem;
  height: 1.5rem;
  margin: auto 0.5rem;
}
.cart .cart-list ul li #cancelOrder {
  position: relative;
  top: 0.8rem;
  height: 25px;
}
.cart .total {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border: 1px solid #F1D5BB;
  margin-top: 2rem;
}
.cart .total .subtotal {
  background: #F1D5BB;
  padding: 1rem;
}
.cart .total .subtotal h3 {
  font-size: 1.8rem;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  margin-bottom: 0.5rem;
}
.cart .total .subtotal p {
  font-size: 20px;
  font-family: Poppins, sans-serif;
  margin-bottom: 0.5rem;
}
.cart .total .subtotal button {
  border: 1px solid #000;
  background: #000;
  padding: 1rem 1rem;
  color: #fff;
  font-size: 18px;
  font-family: Poppins, sans-serif;
}
.cart .total .subtotal button:hover {
  color: #9E9E9E;
  transition: 0.3s;
}
.cart .total .promo {
  padding: 1rem;
}
.cart .total .promo h3 {
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
}
.cart .total .promo input {
  border: 1px solid #F1D5BB;
  padding: 1rem 0.8rem;
  font-size: 16px;
  font-family: Poppins, sans-serif;
  background: transparent;
  outline: none;
  margin-bottom: 0.5rem;
}
.cart .total .promo button {
  border: 1px solid #000;
  background: #000;
  padding: 0.5rem 1.5rem;
  color: #fff;
  font-size: 18px;
  font-family: Poppins, sans-serif;
}
.cart .total .promo button:hover {
  color: #9E9E9E;
  transition: 0.3s;
}

@media only screen and (min-width: 912px) {
  .menu-container {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
  }
  .menu-container .menu-nav ul .active-0 {
    box-shadow: unset;
  }
  .menu-container .cart-nav ul .active-1 {
    box-shadow: unset;
  }
  .menu-container .menu-nav, .menu-container .cart-nav {
    box-shadow: 10px 5px 10px 2px #B1B2B2;
    height: 650px;
  }
  .menu-container .menu-nav ul, .menu-container .cart-nav ul {
    display: block;
    text-align: center;
    margin: 1rem auto;
  }
  .menu-container .menu-nav ul li, .menu-container .cart-nav ul li {
    padding: 1.5rem 1rem;
  }
  .menu-container .delicacy {
    width: 100%;
  }
  .menu-container .delicacy .delicacy-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}/*# sourceMappingURL=style.css.map */